# Next.js build output
.next/

# Node modules
node_modules/

# Dependency directories
.pnp/
.pnp.js

# Caches
.eslintcache
.turbo/

# Logs
*.log

# Environment files
.env*.local
.env

# Local development
.DS_Store